<div class="card mt-4">
  <img
    class="card-img-top img-fluid"
    src="http://placehold.it/900x400"
    alt=""
  />
  <div class="card-body">
    <div class="text-center">
      <h3 class="card-title">Product Name</h3>
      <h4>$24.99</h4>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea laborum
        molestiae natus! A aliquam nam velit, molestiae, excepturi adipisci
        harum incidunt laudantium eius neque officia corporis hic dolorem soluta
        quam.
      </p>
      <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
      4.0 stars
    </div>
  </div>
  <div class="card card-outline-secondary my-4">
    <div class="card-header">Product Reviews</div>
    <div class="card-body">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        voluptatem, quisquam illum consectetur numquam omnis a ipsam laboriosam
        necessitatibus, esse recusandae. Animi obcaecati, nam quisquam dolorum
        repudiandae quibusdam quae odit.
      </p>
      <small class="text-muted">Posted by anonymous on 3/1/17</small>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        voluptatem, quisquam illum consectetur numquam omnis a ipsam laboriosam
        necessitatibus, esse recusandae. Animi obcaecati, nam quisquam dolorum
        repudiandae quibusdam quae odit.
      </p>
      <small class="text-muted">Posted by anonymous on 3/1/17</small>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        voluptatem, quisquam illum consectetur numquam omnis a ipsam laboriosam
        necessitatibus, esse recusandae. Animi obcaecati, nam quisquam dolorum
        repudiandae quibusdam quae odit.
      </p>
      <small class="text-muted">Posted by anonymous on 3/1/17</small>
      <hr />
      <a href="#" class="btn btn-success">Leave a Review</a>
    </div>
  </div>
</div>
